<p id="notice"><%= notice %></p>

<h2>
  
  <%= @topic.name %>
</h2>
<% id = @topic.id %>
<% @topic.articles.order(:sub_topic).each do |article|%>
<div id="<%article.sub_topic%>">
  <a href="<%=article.link%>"><%=article.description%></a><br>
</div>
<%end%><hr>
<%= render 'articles/form' %>
<%= link_to 'Edit Topic', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
